@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins);
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
:root {
  --poppins: "Poppins", sans-serif;
  --color-1: #ffffff;
  --color-2: #f8f9fc;
  --color-3: #d51c17;
  --color-4: #000000;
  --color-5: #2f2f2f;
  --color-6: #e5e5e5;
  --color-7: #1f831c;
  --color-8: #595959;
  --color-9: #545454;
  --color-10: #f5f8f7;
  --color-11: #00000080;
  --color-12: #6c6c6c;
  --color-13: #0000000d;
  --color-14: #141414;
  --color-15: #ebebeb;
  --color-16: #a0a0a0;
  --color-17: #c2c2c2;
}
/* GERAL */
h1 {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 4.8em;
  letter-spacing: 0;
  line-height: 52px;
  color: var(--color-5);
  margin-bottom: 8px;
}
h2 {
  font-family: var(--poppins);
  font-weight: 800;
  font-size: 3em;
  letter-spacing: 0;
  line-height: 30px;
  color: var(--color-3);
}
h3 {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: -1px;
  line-height: 20px;
  color: var(--color-14);
  margin-bottom: 6px;
}
p {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1.6em;
  letter-spacing: 0;
  line-height: 30px;
  color: var(--color-5);
  margin-bottom: 40px;
}
a {
  text-decoration: none;
  color: var(--color-5);
}
li {
  list-style: none;
}
iframe {
  border: none;
}
/* CONATINER PAGE */
.containerPage {
  max-width: 1300px;
  height: 100%;
  background-color: var(--color-2);
}
/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 50px 18px 50px;
  max-width: 1200px;
  height: 116px;
}
.headerContainer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.previsaoContainer {
  display: flex;
  width: 130.54px;
  height: 37px;
  align-items: center;
  justify-content: space-between;
}
.previsaoContainer .previsao .temp {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 0;
  color: var(--color-5);
}
.previsaoContainer .previsao .cityTemp {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 0;
  line-height: 14px;
  color: var(--color-9);
  margin: 0;
}
.linksAssineClassificados {
  width: 157px;
  height: 17px;
  display: flex;
  justify-content: space-between;
}
.linkHeaderAssClas {
  font-family: var(--poppins);
  font-weight: 800;
  font-size: 1.2em;
  letter-spacing: 0;
  line-height: 18px;
  color: var(--color-3);
}
.inputBusca {
  position: relative;
  display: flex;
  align-items: center;
}
.inputBusca .buscar {
  display: flex;
  width: 321px;
  height: 45px;
  border-radius: 15px;
  border: 1px solid var(--color-6);
  padding: 14px 0px 14px 28px;
}
.inputBusca .searchSvg {
  display: flex;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.faceInst {
  display: flex;
}
.facebook {
  margin-right: 12px;
}
.facebook,
.instagram {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: var(--color-3);
  border-radius: 50%;
}
.headerContainer2 {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 46px;
  border: 1px var(--color-6);
  border-style: solid hidden solid hidden;
}
.headerContainer2 .navHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.headerContainer2 .navHeader > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.headerContainer2 .navHeader > ul > li {
  min-width: 93px;
  height: 31px;
  margin-top: 15px;
}
.headerContainer2 .navHeader > ul > li > a {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0;
  line-height: 17px;
  color: var(--color-5);
}
.headerContainer2 .navHeader > ul > li {
  max-width: 109px;
  height: 31px;
}
.headerContainer2 .navHeader > ul > li:hover {
  border-bottom: 2px solid var(--color-7);
}
/* MAIN */
.main {
  position: relative;
  width: 100%;
}
.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.art1 {
  display: flex;
  width: 1000px;
  margin-top: -70px;
  background-color: var(--color-2);
  flex-direction: column;
  padding: 50px 50px 0px 50px;
}
.art1 .maisSobre {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 0;
  line-height: 30px;
  color: var(--color-9);
  margin-bottom: 40px;
}
.paginaTag {
  width: 1000px;
  height: 141px;
  position: relative;
  background-color: var(--color-10);
  padding: 30px 50px 0px 50px;
}
.tags {
  margin: 0;
  margin-bottom: 15px;
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 0;
  line-height: 30px;
  text-transform: uppercase;
}
.tagStyle {
  color: var(--color-3);
}
.tituloMain {
  position: relative;
}
.musicaInfTime {
  margin: 0;
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 0;
  line-height: 30px;
  color: var(--color-12);
  text-transform: uppercase;
}
.citacao {
  display: flex;
  justify-content: space-between;
  height: 325px;
  margin-bottom: 40px;
}
.citacaoTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 425px;
  height: 325px;
  margin-right: 50px;
}
.citacaoText {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 2.4em;
  letter-spacing: 0;
  line-height: 30px;
  color: var(--color-5);
  text-align: center;
  margin: 0;
  margin: 22px 0 0 0;
}
.citacaoByPezzoni {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1.4em;
  letter-spacing: 0;
  line-height: 30px;
  color: var(--color-5);
}
.imgContainer {
  width: 425px;
  height: 325px;
}
.videoIntroDvdEva {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.repertorioSpotify {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.repertorioSpotify .citacaoText {
  margin-bottom: 15px;
}
.entrevista,
.downloadCapaAlbum {
  margin-bottom: 40px;
}
.entreDown {
  display: flex;
  align-items: center;
}
.playDown {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-3);
  cursor: pointer;
  border-radius: 50%;
  margin-right: 15px;
}
.entreDownText {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 0.5px;
  line-height: 21px;
  color: var(--color-3);
  margin: 0px 0px 3px 0px;
}
.entreDowData {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 0;
  line-height: 18px;
  color: var(--color-8);
}

.difilcudades {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 3.6em;
  letter-spacing: 0;
  line-height: 30px;
  color: var(--color-5);
  margin-bottom: 15px;
}
.citacao2 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 2.4em;
  letter-spacing: 0;
  line-height: 30px;
  color: var(--color-3);
  margin-bottom: 40px;
}
.imgContainer .producao {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 0;
  line-height: 20px;
  color: var(--color-9);
}
.galeriaNancimentoFilho {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 555px;
}
.galeriaContainer {
  width: 900px;
  height: 500px;
  background: var(--color-6);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.producao {
  margin: 8px 0px 20px 0px;
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 0;
  line-height: 20px;
  color: var(--color-9);
}
.proxFoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  height: 10px;
}
.linkProx {
  width: 10px;
  height: 10px;
  border: 2px solid var(--color-5);
  border-radius: 50%;
}
.linkProx:hover {
  background-color: var(--color-5);
}
/* SEC ASIDE */
.ouvir {
  position: absolute;
  left: 83px;
  top: 432px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.ouvirMusica {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 34px;
  height: 51px;
  margin-bottom: 33px;
}
.btnOuvir {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--color-3);
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.svgOuvir {
  fill: var(--color-1);
}
.textOuvir {
  margin: 0px;
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 16px;
  color: var(--color-3);
}
.mediaSocial {
  display: flex;
  width: 18px;
  height: 121px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
/* PRINT */
.print {
  position: absolute;
  right: 85px;
  top: 432px;
}
.printPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 51px;
}
.btnPrint {
  border: none;
  cursor: pointer;
}
.textPrint {
  margin: 0px;
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 16px;
  color: var(--color-3);
}
/* SEC 2 */
.sec2 {
  margin-bottom: 60px;
  margin: 50px;
}
.sec2 > h2 {
  margin-bottom: 20px;
}
.leiaTambemArtigos {
  display: flex;
  justify-content: space-between;
}
.artigo {
  width: 224px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 20px 18px 20px;
  border: 1px solid var(--color-6);
  border-radius: 5px;
}
.btnMusica {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 23px;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0.2px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-1);
  background-color: var(--color-3);
  border: none;
  border-radius: 5px;
  margin-bottom: 57px;
  padding: 4px 11px;
}
.time {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 16px;
  color: var(--color-8);
}
/* FOOTER */
.footer {
  position: relative;
  width: 1300px;
  height: 560px;
  padding: 60px 50px 0px 50px;
  background-color: var(--color-15);
}
.logoFooter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footerMenus {
  display: flex;
  justify-content: space-between;
}
.menu > h3 {
  font-family: var(--poppins);
  font-weight: 900;
  font-size: 1.2em;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: var(--color-5);
  text-transform: uppercase;
}
.menu .navFooter .navList .navLinkFooter > a {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: -0.5px;
  line-height: 26px;
  color: var(--color-5);
  padding: 2px;
}
.menu .navFooter .navList .navLinkFooter > a:hover {
  border-bottom: 1px solid var(--color-5);
  padding: 2px;
}
.menuEmpregos {
  margin-bottom: 50px;
}
.copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 65px;
  border-top: 1px solid var(--color-17);
  position: absolute;
  bottom: 0;
}
.svgLogoMW {
  display: flex;
}
.copy .copyText {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 24px;
  color: var(--color-16);
  margin: 0;
}
